<li [ngClass]="{'list-group-item': true,
              'list-group-item-success': loveIts > 0,
              'list-group-item-danger': loveIts < 0}">
  <div class="row">
    <div class="col-lg-6 col-xs-6">
      <h3>{{title}}</h3>
    </div>
    <div class="col-lg-6 col-xs-6">
      <div class="row">
      <div class="col-lg-12">
        <div class="pull-right">
          <h3>{{created_at | date:'M/d/yyyy, h:mm a'}}</h3>
        </div>
      </div>
      </div>
    </div>
  </div>
  <h4>{{content}}</h4>
  <div class="btn-group">
    <button class="btn btn-success" (click)="lovedIt()">Love it</button> <button class="btn btn-danger" (click)="nlovedIt()">Don't love it</button>
  </div>
</li>

